*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.gwen_tuner {
    font-size: 60px
}


@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(assets/material_icons/MaterialIcons-Regular.woff2) format('woff2'),
       url(assets/material_icons/MaterialIcons-Regular.woff) format('woff'),
       url(assets/material_icons/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Icon inside icon button */
.gwen_icon_button>.gwen_icon  {
    font-size: 20px;
	vertical-align: middle;
}

/* Text inside icon button */
.gwen_icon_button_text {
	vertical-align: middle;
    padding-left: 4px;
}

/* Label text for the radio button */
.gwen_radio>span {
    padding-left: 4px;
}

/* Label text for the checkbox */
.gwen_checkbox>span {
    padding-left: 4px;
}

.gwen_splitter_rowsep {
    width: 20px;
    background: black;
    cursor: col-resize;
}

